.container {
  text-align: center;
}

body {
  background-image: url(../img/space.jpg);
  color: #E0E1E0;
}

p {
  color: #E0E1E0
}

img {
  width: 300px;
}

h3 {
  font-size: 15pt;
  color: green;
}

h2 {
  color: ;
  text-align: center;
}

h2 em{
  color: green
}
