.container {
  text-align: center;
}

h1 {
  color: #00A74D;
}

/*.about {
  float: right;
}*/

 .header {
   float: left;
 }

body {
  background-image: url(../img/space.jpg);
  color: #E0E1E0;
}

p {
  color: #E0E1E0
}

img {
  width: 300px;
}

h3 {
  font-size: 15pt;
  color: green;
  text-align: center;
}

h2 {
  color: #00A74D;
  text-align: center;
}

h2 em {
  color: ##337ab7;
}

.Epicodus {
  color:#00b3b4;
  font-weight: bold;
}

/*.links {
  color: #7122F8;
}
*/

.row {
  padding: 10px;
}
